In [1]:
import pandas as pd
df = pd.read_csv('salaries_by_college_major.csv')

In [7]:
df.head()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,41600.0,76800.0,50600.0,136000.0,Business

In [6]:
df.shape
# 51 rows and 6 columns

(51, 6)

In [12]:
df.columns

Index(['Undergraduate Major', 'Starting Median Salary',
       'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary',
       'Mid-Career 90th Percentile Salary', 'Group'],
      dtype='object')

In [20]:
df.isna()
df.tail()
clean_df = df.dropna()
clean_df.tail()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
45,Political Science,40800.0,78200.0,41200.0,168000.0,HASS
46,Psychology,35900.0,60400.0,31600.0,127000.0,HASS
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS
48,Sociology,36500.0,58200.0,30700.0,118000.0,HASS
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS

In [41]:
id_max_salary = clean_df['Starting Median Salary'].idxmax()
major_max_salary = clean_df['Undergraduate Major'].loc[id_max_salary]
row_max_salary = clean_df.loc[43]
print(row_max_salary)
print("\n")
print(id_max_salary, major_max_salary)

Undergraduate Major                  Physician Assistant
Starting Median Salary                           74300.0
Mid-Career Median Salary                         91700.0
Mid-Career 10th Percentile Salary                66400.0
Mid-Career 90th Percentile Salary               124000.0
Group                                               STEM
Name: 43, dtype: object


43 Physician Assistant

In [47]:
# What college major has the highest mid-career salary
id_max_salary = clean_df['Mid-Career Median Salary'].idxmax()
major_max_salary = clean_df['Undergraduate Major'].loc[id_max_salary]
much_mid_salary = clean_df['Mid-Career Median Salary'].loc[id_max_salary]
print(major_max_salary, much_mid_salary)

Chemical Engineering 107000.0

In [50]:
# Which college major has the lowest starting 
#salary and how much do graduates earn after university?
id_min_salary = clean_df['Starting Median Salary'].idxmin()
major_min_salary = clean_df['Undergraduate Major'].loc[id_min_salary]
much_start_salary = clean_df['Starting Median Salary'].loc[id_min_salary]
print(major_min_salary, much_start_salary)

Spanish 34000.0

In [53]:
# Which college major has the lowest 
#mid-career salary and how much can people 
#expect to earn with this degree?
id_min_salary = clean_df['Mid-Career Median Salary'].idxmin()
major_min_salary = clean_df.loc[id_min_salary].max()
#much_mid_salary = clean_df['Mid-Career Median Salary'].loc[id_min_salary]
print(major_min_salary)

Undergraduate Major                  Education
Starting Median Salary                 34900.0
Mid-Career Median Salary               52000.0
Mid-Career 10th Percentile Salary      29300.0
Mid-Career 90th Percentile Salary     102000.0
Group                                     HASS
Name: 18, dtype: object